:root {
    --fs-label: 0.875rem;
    --control-label-text-clr: #1a1a1a;
    --control-focus-clr: #000080;
    --control-focus-clr-rgb-val: 0,0,128;
    --control-border-bg: silver;
    --control-border-radius: 0.25rem;
    --control-error-text-clr: #d92d2b;
    --control-label-hint-text-clr: #737373;
    --success-clr: #28a745;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
